In [1]:
import mysql.connector
import pandas as pd

In [2]:
from dbconnection import get_connection

# Crear conexión
cnx = get_connection()
cursor = cnx.cursor()

In [3]:
dim_candidate = pd.read_csv('c:/Users/annie/Desktop/workshop1_ETL/dim_candidate.csv')
dim_date = pd.read_csv('c:/Users/annie/Desktop/workshop1_ETL/dim_date.csv')
dim_seniority = pd.read_csv('c:/Users/annie/Desktop/workshop1_ETL/dim_seniority.csv')
dim_tech = pd.read_csv('c:/Users/annie/Desktop/workshop1_ETL/dim_technology.csv')
dim_country= pd.read_csv('c:/Users/annie/Desktop/workshop1_ETL/dim_country.csv')

In [4]:
# Insert data into dim date

for _, row in dim_date[["DateID","ApplicationDate","Day","Month","Year"]].iterrows():
    cursor.execute("""
        INSERT INTO DimDate (DateID, ApplicationDate, Day, Month, Year)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
cnx.commit()

In [5]:
#Insert data into dim Candidate 
for _, row in dim_candidate[["CandidateID","First Name","Last Name","Email","YOE"]].iterrows():
    cursor.execute("""
        INSERT INTO dimcandidate (CandidateID, FirstName, LastName, Email, YOE)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))
    
cnx.commit()

In [6]:
# Insert data into dim Seniority
for _, row in dim_seniority[["SeniorityID","Seniority"]].iterrows():
    cursor.execute("""
        INSERT INTO dimseniority (SeniorityID, SeniorityLevel)
        VALUES (%s, %s)
    """, tuple(row))
    
cnx.commit()

In [7]:
# Insert data into dim Technology
for _, row in dim_tech[["TechnologyID","Technology"]].iterrows():
    cursor.execute("""
        INSERT INTO dimtechnology (TechnologyID, TechnologyName)
        VALUES (%s, %s)
    """, tuple(row))
cnx.commit()

In [8]:
#Insert data into dim Country
for _, row in dim_country[["CountryID","Country"]].iterrows():
    cursor.execute("""
        INSERT INTO dimcountry(CountryID, Country)
        VALUES (%s, %s)
    """, tuple(row))
    
cnx.commit()

In [9]:
#last, load fact table

fact_applications = pd.read_csv('c:/Users/annie/Desktop/workshop1_ETL/fact_applications.csv')

In [10]:
cnx = mysql.connector.connect(user='root', password='annie',
host='localhost',
database='workshop1')

cursor = cnx.cursor()

In [11]:
#Insert data into fact Applications
for _, row in fact_applications[["ApplicationID","CandidateID","DateID","TechnologyID","SeniorityID","CountryID","Code Challenge Score","Technical Interview Score","Hired"]].iterrows():
    cursor.execute("""
        INSERT INTO factapplications (ApplicationID, CandidateID, DateID, TechnologyID, SeniorityID, CountryID, CodeChallengeScore, TechnicalInterviewScore, Hired)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

cnx.commit()
cursor.close()
cnx.close()

In [12]:
# cerrar conexión
cnx.close()
cursor.close()

False